div#tree {
  position: relative;
  width: 70vw;
  height: 70vh;
  overflow: auto;
}
div.node {
  width: 64px;
  height: 64px;
  line-height: 64px;
  background-color: #339;
  color: #efefef;
  font-family: sans-serif;
  font-size: 0.7em;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
}
div.connector {
  position: absolute;
  background-color: #333;
  z-index: -10;
}
div.connector.h {
  height: 2px;
  background-color: #ddd;
}
div.connector.v {
  height: 1px;
  background-color: #66d;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
div[data-level="0"] {
  background-color: #933;
}
div[data-level="1"],
div[data-level="-1"] {
  background-color: #393;
}
div[data-level="2"],
div[data-level="-2"] {
  background-color: #333;
}
